/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
.red {
    color: #db2d2e;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@font-face {
    font-family: AddSpeedy;
    src: url('assets/fonts/AddSpeedy.ttf');
}
html{
    sroll-behavior: smooth;
}
.hero-btn {
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #db332f;
    border-color: #db332f;
    transform: skew(-10deg) rotate(0deg);
    -webkit-transform: skew(-10deg) rotate(0deg);
    -moz-transform: skew(-10deg) rotate(0deg);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.thick {
    font-weight: 100;
}

.bold {
    font-weight: 800;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*fonts Poppins*/

main .container {
    /*color: #000;*/
}

.site-branding {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-top: 10px;
}

.top-header-info{
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

header ul li {
    list-style: none;
    margin-right: 30px;
}

.main-navigation a{
    color: #fff;
    text-transform: uppercase;
}

.main-navigation .current_page_item a{
    color: #db2d2e;
}

.main-navigation a:hover, .main-navigation a:active, .main-navigation a:focus{
    color: #db2d2e;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero-section {
    background-image: url("assets/images/hero-background.png");
    color: #fff;
    border-radius: 0 0 0 87px;
    height: 550px;
}

.hero-content-container{
    margin-top: 110px;
}

.hero-content{
    text-transform: uppercase;
}

.hero-section-general .hero-content-container{
    height: 500px;
    position: relative;
}

.hero-content_image{
    position: absolute;
}

.hero-content_image img{
    max-width: 480px;
}

.hero-content_image:nth-child(1){
    left: -30px;
    top: 210px;
}


.hero-content_image:nth-child(2){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.hero-content_image:nth-child(3){
    right: 0;
    top: 210px;
}

.hero-content_image:nth-child(1) img, .hero-content_image:nth-child(3) img{
    max-width: 360px;
}


.hero-text p {
    margin-bottom: 0;
}

.hero-img img {
    position: absolute;
    top: 23px;
    left: 150px;
}

.caption-red{
    font-size: 35px;
    font-weight: 800;
    color: #db2d2e;
}

.caption-main{
    font-size: 46px;
    font-weight: 800;
}

.caption-light{
    font-size: 35px;
    font-weight: 100;
}

/*--------------------------------------------------------------
# Client Section
--------------------------------------------------------------*/

.section-title {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
}

.section-subtitle{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.client-section {
    color: #000;
    padding: 90px 0 0 0;
    margin: 90px 0;
}

.client-section .section-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.client-section .section-logos img {
    padding: 30px;
    max-width: 160px;
}



/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/


.services-section{
    /*background: #000000e0;*/
    background-image: url("assets/images/services-background.png");
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 0 87px 0 0;
    -moz-border-radius: 0 87px 0 0;
    border-radius: 0 87px 0 0;
    padding: 50px 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.86);
}

.service-logo {
    text-align: center;
}

.service-title {
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 600;
}

.separator {
    border: 1px solid;
    width: 70px;
    margin: auto;
}

.service-description {
    margin: 10px 0;
}

.service-cars {
    display: flex;
    margin-top: 210px;
}

.service-cars img:nth-child(1){
    position: absolute;
    top: 1420px;
    left: 0;
}

.service-cars img:nth-child(2){
    position: absolute;
    top: 1420px;
    right: 0;
}

/*--------------------------------------------------------------
# Cars Section
--------------------------------------------------------------*/

.car-section {
    margin-top: 100px;
    color: #000000;
    background: #d0564b;
}

.car-section-wrapper {
    background: #fff;
    border-radius: 0 0 0 10%;
    padding-bottom: 100px;
}

.car-card {
    text-align: center;
    box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
    padding: 50px;
}

.car-card div {
    margin-bottom: 20px;
}

.car-details {
    text-transform: uppercase;
}

.car-make {
    text-transform: uppercase;
    font-weight: 600;
}

/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/
.section-about-us{
    background-image: url("assets/images/background-about-us.png");
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 0 87px 0 0;
    -moz-border-radius: 0 87px 0 0;
    border-radius: 0 87px 0 0;
    padding: 50px 0;
    box-shadow: inset 0 0 0 1000px rgba(244, 67, 54, 0.65);
    position: relative;
}

.about-us_content_wrapper {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

.about-us_content_wrapper .btn-play img {
    max-width: 67px;
    margin: 50px 0;
}

.contact-info {
    background: #fff;
    max-width: 640px;
    height: 350px;
    margin: auto;
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
}

.contact-info_title {
    font-family: AddSpeedy, Verdana, sans-serif;
    font-size: 50px;
    color: #000;
    font-weight: 600;
    margin: 20px;
}

.contact-info_number {
    font-weight: 700;
}

.contact-info_image {
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: -50px;
}

/*--------------------------------------------------------------
# Section Testimonials
--------------------------------------------------------------*/

.section-testimonials {
    background: #2e2e2e;
    text-align: center;
    padding: 350px 50px 50px;
    position: relative;
    z-index: 1;

}

.testimonial_caption {
    font-weight: 500;
}

.testimonial_caption, .testimonial_header{
    text-transform: uppercase;
    margin: 10px;
}

.testimonial_author-image img {
    border-radius: 50%;
    border: 1px solid #db2d2e;
    padding: 5px;
    max-width: 100px;
    margin-top: 20px;
}

.testimonial_header {
    font-weight: 800;
    font-size: 30px;
}

.testimonial_text {
    font-weight: 200;
    margin: 20px;
}

.overlap-cars {
    position: relative;
    z-index: 1;
}

.overlap-cars img {
    max-width: 261px;
    position: absolute;
}

.overlap-cars img:nth-child(1){
    top: -50px;
    left: -10px;
}

.overlap-cars img:nth-child(2){
    right: 0;
    top: -50px;
}

/*--------------------------------------------------------------
# Section Map
--------------------------------------------------------------*/

.section-map {
    position: relative;
}

.subscription-card {
    background: #db2d2edb;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: -70px;
    align-items: center;
    z-index: 1;
    
}

.subscription-card .subscription-form {
    display: flex;
}

.subscription-text {
    font-weight: 500;
    font-size: 20px;
    max-width: 357px;
}

.subscription-form input, .subscription-form button {
    max-height: 65px;
}

.subscription-form button{
    text-transform: uppercase;
    background: #151414;
    color: #ffffff;
    border: none;
}

.subscription-form input{
    width: 400px;
    height: 400px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background-image: url("assets/images/footer-background.png");
    box-shadow:     inset 0 0 0 1000px rgb(0 0 0 / 94%);
    padding: 150px 0 0;
}

.footer-title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

footer .menu {
    margin: 0;
    padding: 0;
}

footer .menu li a {
    color: #ffffff;
}

footer .menu li {
    list-style: none;
    text-transform: uppercase;
    margin: 10px 0;
}

.footer-contact ul {
    margin: 0;
    padding: 0;
}

.footer-contact ul li {
    list-style: none;
    margin: 10px;
}

.footer-logo {
    margin-bottom: 20px;
}

.sub-footer {
    -webkit-box-shadow: inset 0px 0px 1000px rgb(0 0 0 / 0.94);
    -moz-box-shadow: inset 0px 0px 1000px rgb(0 0 0 / 0.94);
    box-shadow: inset 0px 0px 1000px rgb(0 0 0 / 0.94);
}

.sub-footer .widget {
    margin: 0;
    padding: 20px 0;
}

.sub-footer .textwidget {
    display: flex;
    justify-content: space-between;
}


/*--------------------------------------------------------------
# Page SuperCar Experiences
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero-section-general {
    background-image: url("assets/images/hero-general.png");
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    height: 550px;
}


/*--------------------------------------------------------------
# SuperCar Section
--------------------------------------------------------------*/
.supercar_section {
    color: #000;
}

/*--------------------------------------------------------------
# USP Section
--------------------------------------------------------------*/
.usp_section {
    background-image: url("assets/images/usp-section-background.png");
    -webkit-background-size: cover;
    background-size: cover;
    height: 637px;
    padding: 150px;
}

.usp_section .container {
    color: #ffffff;
}

.usp_section .section_title {
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}


/*--------------------------------------------------------------
# Auto Section
--------------------------------------------------------------*/
.auto_section {
    color: #000;
}

.auto_section .section_title{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.auto_section .section_content {
    padding: 100px 10px;
}

.auto_section .container {
    -webkit-box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*--------------------------------------------------------------
# Experiences Section
--------------------------------------------------------------*/
.experiences_section {
    background-image: url("assets/images/experiences-background.png");
    -webkit-background-size: cover;
    background-size: cover;
    height: 637px;
    padding: 150px;
}

.experience_element {
    background: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
}

.experience_element div {
    margin: 20px 0;
}

.experience_element a {
    text-transform: uppercase;
    color: #db2d2edb;
}

.experience_element a:hover, .experience_element a:focus, .experience_element a:active {
    color: #db2d2edb;
    text-decoration: none;
}

.experience_title {
    text-transform: uppercase;
    font-weight: 600;
}


/*--------------------------------------------------------------
# Contact Form Section
--------------------------------------------------------------*/
.section-contact-form h1 {
    text-transform: uppercase;
    font-weight: 700;
}

.section-contact-form {
    color: #000;
    /*background: #f5f5f5;*/
}

.wpcf7 {
    -webkit-box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wpcf7 form {
    padding: 45px;
}

.wpcf7 form input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

/*--------------------------------------------------------------
# WOOCOMMERCE
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Track days
--------------------------------------------------------------*/
.track_days_section .container {
    color: #000;
}

.track_days_section .sub-hero img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-0%, -50%);
}

.wc-block-grid__product-title {
    text-transform: uppercase;
    color: #000;
}

.wc-block-grid__product-onsale {
    display: none;
}

ins .woocommerce-Price-amount.amount{
    color: #db2d2edb;
}

del .woocommerce-Price-amount.amount{
    color: #ccc;
}

ins {
    background: #fff!important;
}

.wp-block-button {
    color: #de403d;
    text-transform: uppercase;
    font-weight: 600;

}
.wp-block-button a {
    background: transparent;
    font-size: 15px;
}

.wp-block-button__link {
    background-color: #db2d2edb;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.wc-block-grid__product {
    margin: 10px;
    -webkit-box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wc-block-grid.has-4-columns .wc-block-grid__product {
    max-width: 23%;
}


.wc-block-grid ul {
    margin: 0;
}

article {
    color: #000;
}


/*--------------------------------------------------------------
# Single Product
--------------------------------------------------------------*/
main .product {
    color: #000;
}

.woocommerce-breadcrumb {
    display: none;
}
.woocommerce-tabs.wc-tabs-wrapper {
    padding: 20px;
    -webkit-box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0 0 0 rgba(122, 131, 138, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .site-branding {
        justify-content: center;
    }

    .hero-content-container .hero-img img {
        display: none;
    }

    .top-header-info {
        flex-wrap: wrap;
    }

    .main-navigation {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .hero-content-container {
        margin-top: 0;
        text-align: center;
    }

    .hero-section {
        height: 630px;
    }

    .service-cars {
        display: none;
    }

    .client-section .section-wrapper {
       /*justify-content: center;*/
    }
    .wc-block-grid.has-4-columns .wc-block-grid__product {
        max-width: 80%;
    }

    .car-section-wrapper {
        border-radius: 0;
    }

    .section-testimonials {
        padding: 350px 0px 0px;

    }

    .overlap-cars img {
        max-width: 120px;
    }

    .subscription-card input {
        width: 100%;
    }
    .contact-info {
        left: 0;
        right: 0;
    }

    .subscription-card {
        padding: 15px;
        bottom: -146px;

    }
    
    .main-navigation.toggled .menu-primary-menu-container {
        background: #1f1f1f;
    }

    .main-navigation.toggled ul li {
        padding: 20px 30px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}





